@model IndexViewModel
@{
    Layout = "_Layout";
}


<body id="body">
    <!--Page Area-->
    <div class="grid grid-cols-none	 lg:grid-cols-4 gap-4 p-5  ">

        <!--Changes Section-->
        <div class=" hidden lg:block  ">
            <!--Title-->
            <h2 class="font-bold uppercase text-2xl p-2  text-center text-blue-400 text-shadow-sm shadow-blue-300">
                Changes
            </h2>
            <!--Changes Box-->
            <div class="transition ease-in-out hover:-translate-y-1 hover:scale-110 bg-gray-100 shadow-lg shadow-blue-500/50   rounded-xl hover:shadow-xl hover:shadow-blue-500/50 duration-500">
                <!--Changes Group-->
                <div>
                    <!--Version-->
                    <p class="text-blue-500  text-shadow shadow-blue-500 pl-4 underline pt-2">v1.0.0</p>
                    <!--Icon-->
                    <div class="flex gap-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                             stroke="currentColor" class="w-32 text-blue-400 pl-5">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                        <!--Description-->
                        <p class="pl-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, voluptates.</p>
                    </div>
                </div>
                <!--Changes Group-->
                <div>
                    <!--Version-->
                    <p class="text-blue-500  text-shadow shadow-blue-500 pl-4 underline pt-2">v1.0.2</p>
                    <!--Icon-->
                    <div class="flex gap-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                             stroke="currentColor" class="w-32 text-blue-400 pl-5">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                        <!--Description-->
                        <p class="pl-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, voluptates.</p>
                    </div>
                </div>
                <!--Changes Group-->
                <div>
                    <!--Version-->
                    <p class="text-blue-500  text-shadow shadow-blue-500 pl-4 underline pt-2">v1.0.3</p>
                    <!--Icon-->
                    <div class="flex gap-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                             stroke="currentColor" class="w-32 text-blue-400 pl-5">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                        <!--Description-->
                        <p class="pl-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, voluptates.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Blog Section-->
        <div class=" col-span-2 ">
            <!--Title-->
            <h2 class="font-bold uppercase text-2xl p-2  text-center text-yellow-400 text-shadow-sm shadow-yellow-300">
                Posts
            </h2>
            <div class="bg-gray-100 shadow-lg shadow-yellow-500/50  rounded-xl   ">

                @foreach (var post in Model.TopPosts.Posts)
                {
                    <!--Post Section-->
                    <div class="flex items-center border-b-2 border-yellow-400  border-opacity-40 rounded-sm pb-3">

                        <!--Profile Photo-->
                        <div class="rounded-full bg-slate-300 m-3">
                            @if (@post.User.ProfilePic?.FileName != null)
                            {
                                <img class="inline-block h-10 w-10 rounded-full  ring-white" src="data:image/jpeg;base64,@Convert.ToBase64String(post.User.ProfilePic.Content)" alt="Alternate Text" style="width:45px; height:45px " />


                            }
                            else
                            {
                                <img class="inline-block h-10 w-10 rounded-full  ring-white" src="/data/blank-profile-picture-973460_640.png" style="width:45px; height:45px " alt="">


                            }
                        </div>
                    <!--Post Details-->
                    <div class="flex-1">
                        <p>@post.User.username</p>
                        <p>@post.content</p>

                        </div>
                    <div>
                        <p class="mr-3 opacity-50">@post.CreationDate</p>
                    </div>
                </div>
                }

            </div>
        </div>
        <!--Last Users Section-->
        <div class="hidden lg:block ">
            <!--Last users title-->
            <h2 class="font-bold uppercase text-2xl p-2  text-center text-red-400 text-shadow-sm shadow-red-300">
                Last Users
            </h2>
            @foreach (var user in Model.LatestUsers.Users)
            {
                <!--Last user box-->
                <div class="transition ease-in-out hover:-translate-y-1 hover:scale-110  bg-gray-100 shadow-lg shadow-red-500/50  rounded-xl hover:shadow-xl hover:shadow-red-500/50 duration-500 mb-2">
                    <!--User Section-->
                    <div class="flex items-center">
                        <!--Profile Photo-->
                        <div class="rounded-full bg-slate-300 m-3">
                            @if (@user.ProfilePic?.FileName != null)
                            {
                                <img class="inline-block h-10 w-10 rounded-full  ring-white" src="data:image/jpeg;base64,@Convert.ToBase64String(user.ProfilePic.Content)" alt="Alternate Text" style="width:45px; height:45px " />


                            }
                            else
                            {
                                <img class="inline-block h-10 w-10 rounded-full  ring-white" src="/data/blank-profile-picture-973460_640.png" style="width:45px; height:45px " alt="">


                            }
                        </div>
                        <!--User Desc-->
                        <div class="flex-1">
                            <div class="flex items-center justify-between">
                                <p class="">@user.username</p>
                                <p class="text-xs pr-3 "> @user.userDate</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script>
        const dropdownBtn = document.querySelector("#dropdownMenuButton");
        const dropdownMenu = document.querySelector('#dropdownMenu')
        function toggleDropdown() {
            dropdownMenu.classList.toggle("hidden")

        }
        dropdownBtn.addEventListener("click", function (e) {
            e.stopPropagation();
            toggleDropdown();
        });
        document.documentElement.addEventListener("click", function () {
            if (!document.querySelector('#dropdownMenu').classList.contains("hidden")) {
                toggleDropdown();
            }
        });
    </script>
</body>
